@page
@model ExchangeRatesApp.Pages.Banks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bank.Name" />
            <div class="form-group">
                <label asp-for="Bank.Url" class="control-label"></label>
                <input asp-for="Bank.Url" class="form-control" />
                <span asp-validation-for="Bank.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank.Selector" class="control-label"></label>
                <input asp-for="Bank.Selector" class="form-control" />
                <span asp-validation-for="Bank.Selector" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bank.Reverse" /> @Html.DisplayNameFor(model => model.Bank.Reverse)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Bank.Timeout" class="control-label"></label>
                <input asp-for="Bank.Timeout" class="form-control" />
                <span asp-validation-for="Bank.Timeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank.By" class="control-label"></label>
                <select asp-for="Bank.By" class="form-control"></select>
                <span asp-validation-for="Bank.By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank.Rate" class="control-label"></label>
                <input asp-for="Bank.Rate" class="form-control" />
                <span asp-validation-for="Bank.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
