@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table"> 

        <tr>
            <th>Name</th>
            <th>Rate</th>
        </tr>
        @foreach(var bank in Model.Banks)
        {
            <tr>
                <td>@bank.Name</td>
                <td>@bank.Rate.ToString("0.0000")</td>
            </tr>
        }

    </table>
</div>
